<!DOCTYPE html>
<html>
  <head>
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <!-- FONT AWESOME -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <link rel="stylesheet" href="/Content/css/main.css" media="screen" title="no title" charset="utf-8">
    <title>Profile</title>
  </head>
  <body>
    <!--MAIN NAVIGATION-->
    <nav class="main-nav">
      <div class="main-nav-wrapper">
        <div class="logo">
          <a href='/users/@Model["user"].Id/news'>
            <img src="https://raw.githubusercontent.com/avocadobravado/social-media-project-inspiration/master/logo_sm_color.png" alt="" class="logo"/>
          </a>
        </div><!--LOGO ENDS-->
        <div class="searchbar">
          <form action='/users/@Model["user"].Id/search'>
            <input type="text" name="name" value="" placeholder="Search" required>
            <button type="submit" name="button" class="search-button"><i class="fa fa-search" aria-hidden="true"></i></button>
          </form>
        </div><!--SEARCHBAR ENDS-->
        <ul>
          <li><a href='/users/@Model["user"].Id/profile_view'>Hi, <span>@Model["user"].FirstName</span></a></li>
          <li><a href="/">Sign out</a></li>
        </ul>
      </div><!--MAIN NAVIGATION WRAPPER-->
    </nav><!--MAIN NAVIGATION ENDS-->

    <!-- PROFILE WRAPPER -->
    <div class="profile-wrapper">
      <nav class="sidebar">
        <ul>
          <li><a href='/users/@Model["user"].Id/news'><i class="fa fa-home fa-2x" aria-hidden="true"></i></a></li>
          <li><a href='/users/@Model["user"].Id/news'>Home</a></li>
          <li><a href='/users/@Model["user"].Id/profile_view'><i class="fa fa-user fa-2x" aria-hidden="true"></i></a></li>
          <li><a href='/users/@Model["user"].Id/profile_view'>My Profile</a></li>
          <li><a href='/users/@Model["user"].Id/friends'><i class="fa fa-users fa-2x" aria-hidden="true"></i></a></li>
          <li><a href='/users/@Model["user"].Id/friends'>Friends</a></li>
          <li><a href="#"><i class="fa fa-cogs fa-2x" aria-hidden="true"></i></a></li>          <!-- BUILD ME A ROUTE -->
          <li><a href="#">Admin Access</a></li>
        </ul>
      </nav><!--SIDEBAR NAV ENDS-->
      <div class="profile-container">

        <!--HERO PHOTO-->
        <div class="hero-photo"></div>
        <!--HERO ENDS-->

        <div class="profile-info"> <!-- PROFILE INFORMATION STARTS -->
          <div class="profile-picture"><img src="" class="user-image" alt="" /></div>
          <ul class="title">
            <li><span class="user-info">NAME: </span>@Model["selected-user"].FirstName @Model["selected-user"].LastName</li>
            <li><span class="user-info">USERNAME: </span>@Model["selected-user"].Username</li>
            <li><span class="user-info">DATE JOINED: </span>@Model["selected-user"].Timestamp.ToString("d")</li>
            <li><span class="user-info">EMAIL: </span>@Model["selected-user"].Email</li>
            <li><form action='/users/@Model["user"].Id/profile_view/@Model["selected-user"].Id/unfollow' method="post"><input type="hidden" name="_method" value="DELETE"><button type="submit" name="button" class="unfollow-friend">Unfollow</button></form></li>
          </ul>
        </div><!-- PROFILE INFORMATION ENDS -->

        <div class="profile-friends-wrapper">
          <div class="profile-newsfeed"><!-- PROFILE NEWSFEED STARTS -->
            <!-- <h4>Say hi to Placeholdername</h4> -->
            <!--FORM STATUS UPDATE-->
            <!-- <div class="profile-post-wrapper">
              <form class="update-post-form" action="index.html" method="post">
                <input type="text" name="name" value="" class="profile-status status-input" placeholder="Write a post">
                <button type="button" name="button" class="update-post profile-update-post">Update</button>
              </form>
            </div> -->
            <!--PROFILE POST WRAPPER ENDS-->
            <!--FORM STATUS UPDATE ENDS-->

            <h4 class="titles">Newsfeed</h4>

            @if(Model["user-statuses"].Count == 0)
            {
              <p>This user has no staus updates to display.</p>
            }
            else
            {
              @foreach(var status in Model["user-statuses"])
              {
                <div class="comment-wrapper">
                  <div class="avatar-username">
                    <div class="static-avatar"><img src="" class="sm-user-image" alt="" /></div>
                    <div class="static-username">
                      <a href='/users/@Model["user"].Id/profile_view/@status.UserId'>@status.GetPosterName()</a>
                    </div><!--STATIC USERNAME ENDS-->
                  </div><!--AVATAR USERNAME ENDS-->
                  <div class="message-wrapper">
                    <div class="static-message">
                      <p>@status.Content</p>
                    </div><!--STATIC MESSAGE-->
                    <div class="underneath-message">
                      <p class="like-dislikes">
                        <span>@status.Likes</span><!--PLACEHOLDER/SPAN FOR NUMBER OF LIKES-->
                        <form action='/users/@Model["user"].Id/statuses/@status.Id/like' method="post">
                          <input type="hidden" name="userId" value='@Model["selected-user"].Id'>
                          <input type="hidden" name="redirect" value="friend">
                          <button class="like"> <i class="fa fa-thumbs-up" aria-hidden="true"></i></button>
                        </form>
                        <span>@status.Dislikes</span><!--PLACEHOLDER/SPAN FOR NUMBER OF DISLIKES-->
                        <form action='/users/@Model["user"].Id/statuses/@status.Id/dislike' method="post">
                          <input type="hidden" name="userId" value='@Model["selected-user"].Id'>
                          <input type="hidden" name="redirect" value="friend">
                          <button class="dislike"> <i class="fa fa-thumbs-down" aria-hidden="true"></i></button></p>
                        </form>
                      <p class="timestamp"><span>@status.Timestamp.ToString("d")</span>
                      </p>
                    </div><!--UNDERNEATH MESSAGE ENDS-->


                    <div class="comment-section">
                      @foreach(var comment in status.GetComments())
                      {
                        <!--FIRST COMMENT-->
                        <div class="small-avatar-username">
                          <div class="avatar-sm">
                            <img src="" class="sm-user-image" alt="" />
                          </div>
                          <a href='/users/@Model["user"].Id/profile_view/@comment.UserId' class="newsfeed-username">@comment.GetCommenterName()</a>
                        </div><!--SMALL AVATAR USERNAME ENDS-->

                        <p>@comment.Content</p>

                        <div class="comment-like-wrapper">
                          <p>
                            <span>@comment.Likes</span><!--PLACEHOLDER/SPAN FOR NUMBER OF LIKES-->
                            <form action='/users/@Model["user"].Id/statuses/@status.Id/comments/@comment.Id/like' method="post">
                              <input type="hidden" name="userId" value='@Model["selected-user"].Id'>
                              <input type="hidden" name="redirect" value="friend">
                              <button class="like"> <i class="fa fa-thumbs-up" aria-hidden="true"></i></button>
                            </form>
                            <span>@comment.Dislikes</span><!--PLACEHOLDER/SPAN FOR NUMBER OF DISLIKES-->
                            <form action='/users/@Model["user"].Id/statuses/@status.Id/comments/@comment.Id/dislike' method="post">
                              <input type="hidden" name="userId" value='@Model["selected-user"].Id'>
                              <input type="hidden" name="redirect" value="friend">
                              <button class="dislike"> <i class="fa fa-thumbs-down" aria-hidden="true"></i></button></p>
                            </form>
                          </p>
                        </div><!--COMMENT LIKE WRAPPER ENDS-->
                      }

                      <form action='/users/@Model["user"].Id/profile_view/@Model["selected-user"].Id/statuses/@status.Id/comment' method="post">
                        <textarea type="text" name="content" value="" class="comment-input" placeholder="Write a comment..." required></textarea>
                        <button type="submit" name="button" class="submit-comment">Submit</button>
                      </form>
                    </div><!--COMMENT SECTION ENDS-->
                  </div><!--MESSAGE WRAPPER ENDS-->

                </div><!--COMMENT WRAPPER ENDS-->
              }
            }
          </div><!-- PROFILE NEWSFEED ENDS -->
          <div class="friends-list"><!-- FRIENDS LIST STARTS -->
            <h4>Friends List</h4>
            <ul>
              <li><a href="#"><img src="https://github.com/avocadobravado/social-media-project-inspiration/blob/master/default-avatar.png?raw=true" alt="" class="sm-user-image"/></a></li>         <!-- BUILD ME ROUTESSSSSS -->
              <li><a href="#"><img src="https://github.com/avocadobravado/social-media-project-inspiration/blob/master/default-avatar.png?raw=true" alt="" class="sm-user-image"/></a></li>
              <li><a href="#"><img src="https://github.com/avocadobravado/social-media-project-inspiration/blob/master/default-avatar.png?raw=true" alt="" class="sm-user-image"/></a></li>
              <li><a href="#"><img src="https://github.com/avocadobravado/social-media-project-inspiration/blob/master/default-avatar.png?raw=true" alt="" class="sm-user-image"/></a></li>
              <li><a href="#"><img src="https://github.com/avocadobravado/social-media-project-inspiration/blob/master/default-avatar.png?raw=true" alt="" class="sm-user-image"/></a></li>
              <li><a href="#"><img src="https://github.com/avocadobravado/social-media-project-inspiration/blob/master/default-avatar.png?raw=true" alt="" class="sm-user-image"/></a></li>
              <li><a href="#"><img src="https://github.com/avocadobravado/social-media-project-inspiration/blob/master/default-avatar.png?raw=true" alt="" class="sm-user-image"/></a></li>
              <li><a href="#"><img src="https://github.com/avocadobravado/social-media-project-inspiration/blob/master/default-avatar.png?raw=true" alt="" class="sm-user-image"/></a></li>
              <li><a href="#"><img src="https://github.com/avocadobravado/social-media-project-inspiration/blob/master/default-avatar.png?raw=true" alt="" class="sm-user-image"/></a></li>
              <li><a href="#"><img src="https://github.com/avocadobravado/social-media-project-inspiration/blob/master/default-avatar.png?raw=true" alt="" class="sm-user-image"/></a></li>
            </ul>
          </div><!-- FRIENDS LIST ENDS -->
        </div><!--PROFILE FRIENDS WRAPPER ENDS-->
      </div><!-- PROFILE WRAPPER ENDS -->
      </div>
  </body>
</html>
