<!DOCTYPE html>
<html>
  <head>
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <!--FONT AWESOME-->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


    <link rel="stylesheet" href="/Content/css/main.css" media="screen" title="no title" charset="utf-8">
    <title>Placeholder Newsfeed</title>
  </head>
  <body>
    <!--MAIN NAVIGATION-->
    <nav class="main-nav">
      <div class="main-nav-wrapper">
        <div class="logo">
          <h3>LOGO</h3>
        </div><!--LOGO ENDS-->
        <div class="searchbar">
          <input type="text" name="name" value="" placeholder="Search">
          <button type="button" name="button" class="search-button">Search</button>
        </div><!--SEARCHBAR ENDS-->
        <ul>
          <li><a href="#">View profile</a></li>                              <!-- BUILD ME A ROUTE -->
          <li><a href="/">Sign out</a></li>
        </ul>
      </div><!--MAIN NAVIGATION WRAPPER-->
    </nav><!--MAIN NAVIGATION ENDS-->

    <!-- NEWSFEED WRAPPER -->
    <div class="newsfeed-wrapper">
      <nav class="sidebar">
        <ul>
          <li><a href="#"><i class="fa fa-home fa-2x" aria-hidden="true"></i></a></li>
          <li><a href="#">Home</a></li>                                                           <!-- BUILD ME A ROUTE -->
          <li><a href="#"><i class="fa fa-user fa-2x" aria-hidden="true"></i></a></li>
          <li><a href="#">My Profile</a></li>
          <li><a href="#"><i class="fa fa-users fa-2x" aria-hidden="true"></i></a></li>
          <li><a href="#">Friends</a></li>
          <li><a href="#"><i class="fa fa-cogs fa-2x" aria-hidden="true"></i></a></li>
          <li><a href="#">Admin Access</a></li>
        </ul>
      </nav><!--SIDEBAR NAV ENDS-->




      <div class="newsfeed-posts">
        <!--ADD A POST SECTION-->
        <form class="update-post-form" action='/users/@Model["user"].Id/post' method="post">
         <input type="text" name="post" class="status-input" placeholder="Write a post">
         <button type="submit" name="button" class="update-post">Update</button>
        </form>
        <!--ADD A POST SECTION ENDS-->

        @if(Model["timeline"].Count == 0)
        {
          <p>Your timeline is empty!</p>
        }
        else
        {
          @foreach(var post in @Model["timeline"])
          {
            <div class="comment-wrapper">
              <div class="avatar-username">
                <div class="static-avatar"></div>
                <div class="static-username">
                  <a href='/users/@Model["user"].Id/profile_view/@post.UserId'>@post.GetPosterName()</a>
                </div><!--STATIC USERNAME ENDS-->
              </div><!--AVATAR USERNAME ENDS-->
              <div class="message-wrapper">
                <div class="static-message">
                  <p>@post.Content</p>
                </div><!--STATIC MESSAGE-->
                <div class="underneath-message">
                  <p class="like-dislikes">Like/Dislike</p>
                  <p class="timestamp">@post.Timestamp.ToString("d")</p>
                </div><!--UNDERNEATH MESSAGE ENDS-->

                <div class="comment-section">
                  @foreach(var comment in post.GetComments())
                  {
                    <!--FIRST COMMENT-->
                    <div class="small-avatar-username">
                      <div class="avatar-sm">
                      </div>
                      <a href='users/@Model["user"].Id/profile_view/@comment.UserId' class="newsfeed-username">@comment.GetCommenterName()</a>
                    </div><!--SMALL AVATAR USERNAME ENDS-->

                    <p>@comment.Content</p>
                    <hr>
                  }


                  <!--SECOND COMMENT-->
                  <!-- <div class="small-avatar-username">           //I dont think we need this now
                    <div class="avatar-sm">
                    </div>
                    <a href="#" class="newsfeed-username">Placeholder Username #2</a>
                  </div><!--SMALL AVATAR USERNAME ENDS--> -->

                  <!-- <p>I am another test comment, there are many comments in the world but not one quite like this!</p> -->

                  <form action='/users/@Model["user"].Id/posts/@post.Id/comment' method="post">
                    <input type="text" name="comment" class="comment-input" placeholder="Write a comment...">
                    <button type="submit" name="button" class="submit-comment">Submit</button>
                  </form>
                </div><!--COMMENT SECTION ENDS-->
              </div><!--MESSAGE WRAPPER ENDS-->

            </div><!--COMMENT WRAPPER ENDS-->
          }
        }
      </div><!--NEWSFEED POSTS ENDS-->
    </div><!--NEWSFEED WRAPPER ENDS-->
  </body>
</html>
